<html xmlns:th="http://www.thymeleaf.org">

<head>



    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

    a {
      text-decoration: none !important;
    }

    p {
      text-align: left;
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 2px;
    text-align:justify;
      font-family: "Poppins", sans-serif;


    }

    .navbar-brand {
      color: #cda2df !important;

      font-size: 30px;
    }

    h1 {
      margin-top: 10px;
      font-size: 25x;
      letter-spacing: 2px;
      font-family: "Poppins", sans-serif;

    }

    section {
      background-color: #d9d9d9;
      background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
      min-height: 100vh
    }
  </style>
</head>

<body>
<section>

    <table cellspacing="0" border="0" cellpadding="0" width="100%"
           style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style=" max-width:670px;  margin:0 auto;" width="100%" border="0" align="center" cellpadding="0"
                       cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                   style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <img th:src="|cid:${logo}|" src="\src\main\resources\images\logo.png" alt="INTERVENT"
                                             height="60px" width="100px" style="text-align: center" />
                                        <a class="navbar-brand" href="http://localhost:4200/home">ARAB INTERVENT</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:10px 35px;">
                                        <h1>Vous avez reçu un email de contact </h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <img th:src="|cid:${laptop}|" src="\src\main\resources\images\laptop2.jpg" alt="INTERVENT"
                                             height="300px" width="500px" style="text-align: center"  />

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:10px 35px;">
                                        <p style="color:#669cc0">Nom de l'expéditeur
                                        </p><p th:text="${name}"></p>
                                        <p style="color:#669cc0">
                                            Numéro de télephone
                                        </p><p th:text="${tel}"></p>
                                        <p style="color:#669cc0">
                                            Email
                                        </p> <p th:text="${email}"></p>

                                        <p style="color:#669cc0">Description </p>
                                        <p  th:text="${desc}"></p>



                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">
                            <p
                                    style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); text-align:center; line-height:18px; margin:0 0 0;">
                                &copy; <strong>ARAB INTERVENT</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>

</body>
</html>